@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      #6721ff 0%,
      #684cf5 44.01%,
      #00c1ff 100%
    );
    cursor: pointer;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(
      90deg,
      #6721ff 0%,
      #684cf5 44.01%,
      #00c1ff 100%
    );
    cursor: pointer;
    border-radius: 5px;
  }

  input {
    @apply w-full p-2 rounded-[10px] border-2 border-gray placeholder:text-gray placeholder:font-bold;
  }

  textarea {
    @apply w-full p-2 rounded-[10px] border-2 border-gray placeholder:text-gray placeholder:font-bold;
  }

  .h1 {
    @apply text-[5rem] font-bold;
  }

  .h2 {
    @apply text-[1.5rem] font-bold;
  }

  .h3 {
    @apply text-[2rem] font-bold;
  }

  .gradient {
    @apply bg-gradient-to-r from-purple to-skyblue;
  }

  .gradientText {
    @apply bg-gradient-to-r from-purple to-skyblue text-transparent bg-clip-text;
  }

  .gradientButton {
    @apply bg-gradient-to-r from-purple to-skyblue text-white text-[20px] font-bold p-2 rounded-[10px] w-[200px] hover:drop-shadow-lg shadow-lg;
  }

  .link {
    @apply text-black transition-all duration-500 font-bold text-[20px] cursor-pointer hover:text-transparent bg-gradient-to-r from-purple to-skyblue bg-clip-text;
  }

  .iconLink {
    @apply transition-all duration-500 cursor-pointer text-[36px] bg-gradient-to-r from-purple to-skyblue hover:text-transparent bg-clip-text;
  }

  .titleLine {
    @apply w-[40px] h-[5px] bg-gradient-to-r from-purple to-skyblue;
  }

  .divider {
    @apply w-[full] h-[5px] bg-gradient-to-r from-purple to-skyblue;
  }
}
