@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
  }

  .h1 {
    @apply text-[5rem] font-bold;
  }

  .h2 {
    @apply text-[1.5rem] font-bold;
  }

  .h3 {
    @apply text-[2rem] font-bold;
  }

  .gradientText {
    @apply bg-gradient-to-r from-purple to-skyblue text-transparent bg-clip-text;
  }

  .gradientButton {
    @apply bg-gradient-to-r from-purple to-skyblue text-white text-[20px] font-bold p-2 rounded-[10px] w-[200px] hover:drop-shadow-lg shadow-lg;
  }

  .link {
    @apply text-black transition-all duration-500 font-bold text-[20px] cursor-pointer hover:text-transparent bg-gradient-to-r from-purple to-skyblue bg-clip-text;
  }

  .iconLink {
    @apply transition-all duration-500 cursor-pointer text-[36px] bg-gradient-to-r from-purple to-skyblue hover:text-transparent bg-clip-text;
  }

  .divider {
    @apply bg-purple w-[40px] h-[5px] bg-gradient-to-r from-purple to-skyblue;
  }
}
